body {
  font-family: "Helvetica Neue",Helvetica,sans-serif;
  font-size: 13px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  user-select: none;
  -moz-user-select:  none;
  overflow-y: hidden;
  min-width: 450px;
}

#body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

@media only screen and (min-width: 480px) {
  body {
    overflow-x: hidden;
  }
}

header {
  align-items: center;
  margin-bottom: 20px;
}

#body table {
  table-layout: fixed;
  width: 480px;
  text-align: center;
  align-self: center;
}

.range-wrapper {
  display: inline-block;
  width: 20px;
  height: 150px;
  padding: 0;
}

.range-wrapper input[type='range'] {
  width: 150px;
  height: 20px;
  margin: 0;
  transform-origin: 75px 75px;
  transform: rotate(-90deg);
}

input[type='number'] {
  width: 50px;
}

#siteSettings a {
  color: inherit;
}

#siteSettings #url span {
  text-decoration-line: underline;
}

.url-highlight {
  text-decoration-line: underline !important;
  color: inherit;
}

.url-lowlight {
  color: gray !important;
  text-decoration-line: none !important;
}

#shortcut-controls {
  margin-top: 20px;
}

#shortcut-update, #shortcut-reset, #shortcuts-link {
  display: none;
}

#support-info {
  margin-top: 20px;
}

.support-link {
  background-color: rgb(83, 134, 192);
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.support-text {
  vertical-align: super;
}

.bmc-logo {
  height: 20px;
  width: auto;
}
